

<div class="row">
<div class="col-md-8 col-md-offset-2">
    <div class="panel panel-default resume">
        <div class="panel-heading">
            <h1> Submit Resume </h1>
        </div>

        <div class="panel-body">
          <%= simple_form_for [@job, @resume] do |f| %>
            <%= f.input :content %>
            <%= f.input :attachment %>

            <%= f.submit "é€å‡º" %>
          <% end %>
        </div>
      </div>
</div>
</div>
